@media only screen and (max-width: 1010px) {
  .container {
    width: 1030px;
    max-width: 89%;
    display: block;
    margin: 0 auto;
  }
  .header a{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .header .nav {
    display: inline-block;
    vertical-align: top;
    float: left;
    display: none;
}
.nav-icon--bar {
  position: relative;
  top: 15px;
  font-size: 1.5rem;
  float: left;
  left: 0;
  display: none;
}
  .content__info {
    display: none;
  }
  .content-general {
    /* flex-wrap: wrap; */
    display: block;
    width: 100%;
    max-width: 536px;
  }
  .content-right {
    /* display: none; */
    margin-top: 17px;
    width: 100%;
    max-width: 492px;
    margin-left: 0;
  }
  .content-left {
    order: 2;
    max-width: auto;
    width: 64%;
    /* padding: 0 36px 0 0px; */
  }
  .content-center {
    max-width: auto;
    width: 91%;
    margin-left: 0;
    /* margin-left: 26px; */
  }
  .img--tablet {
    display: none;
  }
  /* .content-item:first-child {
    display: none;
  } */
  .content-item {
    padding: 10px 0;
    /* margin-left: 14px; */
    border-top: 1px solid #ccc;
  }
  .multimedia {
    max-width: 945px;
    width: 100%;
    height: 100%;
  }
  .header-section ul {
    display: none;
  }
  .header-section h3 {
    margin-left: 78px;
  }
  .section-content {
    display: flex;
    display: block;
  }
  .multimedia-box {
    max-width: 863px;
    width: 100%;
    margin: 0 auto;
  }
  .tilte {
    /* margin-top: 17px; */
    margin-left: -30px;
    text-align: center;
  }
  .tilte a {
    margin-left: -34px;
  }
  .sumary {
    text-align: center;
  }
  .multimedia-layout {
    max-width: 900px;
    width: 100%;
    padding: 24px 0;
    margin: 0 auto;
  }
  .img-thumbnail {
    cursor: pointer;
    width: 100%;
    max-width: 446px;
  }
  .thumbnail-link {
    font-size: 2rem;
    color: #000;
    font-weight: 600;
  }
  .content-item-1 {
    max-width: 891px;
    width: 100%;
  }
  .content-item-2 {
    display: none;
  }
  .box-category-item {
    width: 50%;
  }
  .box-category-two {
    margin-left: 0;
  }
  .box-category {
    flex-direction: column;
  }
  .video-item {
    width: 100%;
    height: 371px;
}
  .video-listen {
    width: 100%;
    height: 371px;

}
.video-scoll-list {
  width: 100%;
  max-width: 252px;
  height: 371px;
}

/* pc.
1004
700 */

@media only screen and (min-width:700px) and (max-width: 1010px){
  .content-left{
    width: 61%;
  }
  .Masthead{
    display: none;
  }
  .img-advMasthead {
    width: 85%;
    height: 100%;
}
p.tilte {
  margin-left: -1px;
}
.tilte a {
  margin-left: -6px;
}
.content-item {
 margin-right: 38px;
}
.multimedia {
  width: 93%;
}
}
@media only screen and (max-width:700px){
  p.sumary {
    text-align: justify;
}
  .content-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.content-general {
  display: block;
  width: 100%;
  max-width: 100%;
}
.content-center {
  width: 100%;
}
.content-right {
  max-width: 100%;
}
.thumbnail {
  font-size: 2.2rem;
  font-weight: 600;
}
.sumary {
  text-align: justify;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 600;
}
.tilte a {
  /* margin-left: -59px; */
  margin: 0;
}
p.tilte {
  position: relative;
  left: 5px;
  text-align: justify;
}
.tilte a:hover {
  color: #006ba0;

}
.content-left {
  width: 100%;
}
.img-new {
  max-width: 238px;
}
.new-highlight-item {
    width: 243px;
    height: 162px;
    /* background-color: #ffde76; */
    padding: 10px 0 25px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.Masthead {
  display: none;
}
.member-item{
  height: 353px;
}
.member-pc{
  display: none;
}
/* .page-box-item {
  flex-direction: column;
} */
.img-food {
  height: 80px;
  max-width: 100%;
  object-fit: cover;
  height: 115px;
  /* width: 100%; */
}
.descrip-food {
  font-size: 1.3rem;
  margin: 10px 0;
}
.member-ipad {
  display: none;
}

}
@media only screen and (max-width:694px){
  p.tilte {
    position: relative;
    left: 28px;
}
.page-box-item {
  flex-direction: column;
}
.section-book-ipad {
  display: none;
}
}

@media only screen and (max-width:636px){
  .hightlight {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.new-highlight-item {
  margin-top: 10px;
  width: 250px;
    height: 101px;
    border-bottom: none;
}
.new-highlight-item + .new-highlight-item {
  margin-left:0;
}
.promotion{
  height: 475px;
}
.page-box{
  height: 470px;
}
.page-box-mb{
  display: none;
}
.img-food {
  max-width: 100%;
  object-fit: cover;
  height: 153px;
  
}
}
@media only screen and (max-width:636px){
  p.tilte a {
    font-size: 2.2rem;
}
p.sumary {
  font-size: 2.3rem;
  font-weight: 600;
}
.multimedia-box .tilte a {
  font-size: 1.8rem;
}
.new-highlight-item { width: 100%;}
.video-descrip {
  padding: 10px 0;
}
.video-scoll-item {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
}
iframe.video-mb {
  width: 100%;
  height: 107px;
}
}

@media only screen and (max-width:411px){
  p.tilte {
    width: 100%;
  }
  p.tilte a {
    font-size: 1.8rem;
}
.section-book-pixel{
  display: none;
}
.new-info {
  flex-direction: column;
}
.new-item{
  margin-left: 0;
}
.img-new {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
.member-item--pixel{
  display:none;
}
.member-list {
  display: flex;
  justify-content: center;
}
.header-hlight{
  margin-left: 129px;
}
.content-info-left {
  flex-direction: column;
}
.description{
  margin-left: 0;
  margin-top: 11px;
}
.img-left {
  width: 100%;
  object-fit: cover;
  height: 186px;
}
.video-item {
  flex-direction: column;
}
.video-scoll-list {
  max-width: 100%;
  margin-left: 0;
}
iframe.video-mb{
  width: 48%;
}
.video-scoll-item{
  display: flex;
  flex-direction: row;
}
.video-descrip{
  margin-left: 10px;
}
}